[*.{cs,vb}]

indent_style = tab
csharp_new_line_before_open_brace = none
max_line_length = 80

# IDE
dotnet_analyzer_diagnostic.category-Style.severity = warning

# `this` and `Me` preferences (IDE0003 and IDE0009)
dotnet_style_qualification_for_event = true:warning
dotnet_style_qualification_for_field = true:warning
dotnet_style_qualification_for_method = true:warning
dotnet_style_qualification_for_property = true:warning

# Simplify member access (IDE0002)
dotnet_diagnostic.IDE0002.severity = none


dotnet_diagnostic.IDE0055.severity = warning